* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.banner-image {
    width: 60rem;
    margin-top: 16px;
    filter: brightness(70%);
}

.header h3 {
    position: absolute;
    /* adjusting image position */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -59%);
    /* adjusting image position */
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.header .banner-main-text-up {
    position: absolute;
    /* adjusting image position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -59%);
    /* adjusting image position */
    color: #fff;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
}

.header .banner-main-text-down {
    position: absolute;
    /* adjusting image position */
    top: 62%;
    left: 50%;
    transform: translate(-50%, -59%);
    /* adjusting image position */
    color: #fff;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

.first-section h1 {
    margin-top: 128px;
    color: #f00;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}

.first-section h6 {
    margin-top: 15px;
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 900;
    line-height: normal;
}

.first-section h3 {
    margin-top: 15px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first-section img {
    width: 500px;
    margin-top: 48px;
}