* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
}

.banner-image {
    width: 60rem;
    margin-top: 16px;
    filter: brightness(70%);
}

.header h3 {
    position: absolute;
    /* adjusting image position */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -59%);
    /* adjusting image position */
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.header .banner-main-text-up {
    position: absolute;
    /* adjusting image position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -59%);
    /* adjusting image position */
    color: #fff;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
}

.header .banner-main-text-down {
    position: absolute;
    /* adjusting image position */
    top: 62%;
    left: 50%;
    transform: translate(-50%, -59%);
    /* adjusting image position */
    color: #fff;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section h1 {
    margin-top: 128px;
    color: #f00;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 88px;
    font-weight: 700;
}

.first-section h6 {
    margin-top: 15px;
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 900;
    line-height: normal;
}

.first-section h3 {
    margin-top: 15px;
    color: #070211;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.first-section img {
    width: 500px;
    margin-top: 48px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.second-section .vector-image {
    width: 80rem;
    margin-top: 120px;
    filter: brightness(50%);
}

.party-container {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 15rem;
    display: flex;
    align-items: center;
}

.text-side h2 {
    font-size: 64px;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.text-side p {
    margin-top: 10px;
    width: 60%;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.new-year-number {
    width: 15rem;
}

.join-now {
    margin-left: 30px;
    margin-top: 15px;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: #fff;
    color: #070211;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.join-now:hover {
    background-color: #070211;
    color: #fff;
}

.join-now a {
    text-decoration: none;
    color: inherit; /* inherit color value from ".join-now" */
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.third-section svg {
    margin-top: 120px;
}

.invitation-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    align-items: center;
    margin-top: 6rem;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
}

.third-section h3 span {
    color: #f00;
}

.join-now-again {
    margin-left: 30px;
    margin-top: 15px;
    padding: 0.5rem 1rem;
    margin-top: 3rem;
    border-radius: 0.3rem;
    background-color: #f00;
    color: #fff;
    font-size: 34px;
    border: 0;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.join-now-again:hover {
    background-color: #070211;
    color: #fff;
}

.join-now-again a {
    text-decoration: none;
    color: inherit; /* inherit color value from ".join-now" */
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 4rem;
    gap: 10rem;
}

.fourth-section .middle-image img {
    width: 20rem;
    border: 10px solid #f00;
    border-radius: 50%;
    padding: 1rem;
}

.start-texts {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 1rem;
    gap: 0.5rem;
}

.fourth-section .end-texts {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 1rem;
    gap: 0.5rem;
}

.fourth-section .end-texts img {
    width: 5rem;
}

.fourth-section .start-texts .offer {
    color: #f00;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.fourth-section .start-texts h1 {
    color: #070211;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.fourth-section .start-texts .detail {
    margin-top: 0.8rem;
    color: rgba(7, 2, 17, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 160% */
}

.fourth-section .end-texts h1 {
    color: #f00;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fourth-section .end-texts .detail {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: rgba(7, 2, 17, 0.6);

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 160% */
}

.fifth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.fifth-section h3 {
    color: #070211;

    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.fifth-section h1 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: #070211;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.fifth-section h1 span {
    color: #f00;
}

.fifth-section p {
    width: 60%;
    text-align: center;
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
}

.sixth-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    padding: 0;
}

.two-images {
    position: absolute;
    
}

.gift {
    position: absolute;
    width: 28rem;
    bottom: 5rem;
    left: 21rem;
}

.discount {
    position: absolute;
    width: 14rem;
    bottom: 20rem;
    left: 55rem;
}



.sixth-section .happy-girl {
    width: 26rem;
    padding-left: 54rem;
}

.sixth-section .rec-red {
    width: 80rem;
}

